<!DOCTYPE html>
<html lang="pl" >
<head >
  <meta charset="UTF-8">
  <title>Modal Dialog Sandbox</title>
  <!-- angular -->
  <script src="bower_components/angular/angular.js"></script>

  <!-- bootsrap -->
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />

  <!-- ngDialog -->
  <script src="bower_components/ng-dialog/js/ngDialog.js"></script>
  <link href="bower_components/ng-dialog/css/ngDialog.css" rel="stylesheet" />
  <link href="bower_components/ng-dialog/css/ngDialog-theme-default.css" rel="stylesheet"/>
  <link href="bower_components/ng-dialog/css/ngDialog-theme-plain.css" rel="stylesheet" />

  <!-- app -->
  <script src="DialogService/ssDialog.js"></script>
  <script src="app.js"></script>

</head>
<body ng-app="main" ng-controller="MainCtrl as ctrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="btn btn-default"
             ng-click="ctrl.show({message:'message'})">
          message without buttons
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.show({message:'message', buttons:['ok']})">
          (show) one button
        </div>
        <div></div>

        <div class="btn btn-default"
             ng-click="ctrl.show({message:'message', buttons:['cancel', 'ok'], default:1})">
          (show) two buttons
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.show({message:'Message', glyphIcon: 'glyphicon-info-sign', iconColor: '#5bc0de'})">
          (show) help info
        </div><div></div>


        <div class="btn btn-default"
             ng-click="ctrl.info('My info message')"> show info
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.ask('Are you going to do something?')"> Ask yes/no
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.ensure('Are you sure?')"> Ensure ok/cancel
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.warning('Its danger, continue?')"> Warning ok/cancel
        </div><div></div>

        <div class="btn btn-default"
             ng-click="ctrl.error('Sorry, error!')"> Error
        </div><div></div>


      </div>
    </div>
    <div >
      <p></p>
      <p>It shows how dialog with icon is build:</p>
      <table >
        <tr>
          <td style="vertical-align: top; padding-top: 3px;">
            <div class="glyphicon glyphicon-exclamation-sign" style="font-size: 40px; color:#5bc0de">
            </div>
          </td>
          <td style="padding-left:10px;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dui lorem, accumsan ac augue in, tincidunt
            cursus ante. Nullam leo lorem, feugiat venenatis semper nec, placerat et lorem. Sed luctus turpis ut mi
            facilisis venenatis. Donec tincidunt urna nisl, tincidunt eleifend ex auctor in. Praesent commodo eros mauris,
            ac eleifend ligula euismod a. Pellentesque finibus ultrices massa, in vestibulum magna porta sit amet.
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>